#recibo {
    border : 2px solid rgb(2, 2, 2);

    padding : 20px;

    margin-top : 20px;

    width : 400px;
    
    background-color: rgb(255, 255, 255);
    
}

#recibo h2 {
    text-align:center;

}

#recibo h3 {
    margin: 10px 0;
    text-align: center;
}

#recibo p {
    text-align: center;
    font-size: 32px;
    margin: 5px 0;

}
#assinatura {
    text-align: center;
    margin-top : 50px;
}

body {
    font-family : Arial, sans-serif;

    padding : 20px;
    
}

#logo {
    width:180px;
    display: block;
    margin: 0 auto 10px auto;
}

@media print {
    h1 {
        display : none;
    }

    input {
        display: none;
    }

    button {
        display: none;
    }

    #recibo {
        margin: auto;
    }
}